.gitprojects--section {
  background-color: #2d2e32;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .git--repos--label {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 4rem;
  }

  .gitprojects--container {
    display: flex;
    flex-wrap: wrap;

    .project--card {
      background-image: linear-gradient(to bottom right, #16191e, #222327);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
      border-radius: 1.2rem;
      padding: 2rem 3rem;
      margin-bottom: 3rem;

      &:not(:nth-child(3n)) {
        margin-right: 0.8rem;
      }

      .card--label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .repo--label {
          color: #fff;
          font-size: 2rem;
        }

        .repo--details--container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .repo--statistics {
            display: flex;
            justify-content: space-between;
            &:not(:last-child) {
              padding-right: 1rem;
            }

            .statistics--counts {
              color: #606166;
              font-size: 1.2rem;
              padding-left: 0.5rem;
            }
          }
        }
      }
      .description {
        color: #606166;
        font-size: 1.4rem;
        box-decoration-break: clone;
        max-width: 30rem;
      }
      .languages--container {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;

        .language {
          color: #c0c1c5;
          background-color: #4e4f53;
          font-size: 1.2rem;
          border-radius: 0.5rem;
          padding: 0.5rem 1.2rem;
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
